body{
    background-color: #04dcf8;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }

.leaflet-container{
    
    width:95%;
    height: 60vw ;
    border: 5px solid #3edbf0;
    border-radius: 6px;
    
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #3b3b3b;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: rgb(9, 195, 228);
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #8b8b8b;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }



  .searchBoxStyle{
      display: flex;
      height: 10%;
      padding: 5px;
  }

  .serch-items{
       margin-left: 50px;
  }

  .btn-primary{
      margin-top: 28px;
      width: 40px;
      height: 30px;
    
  }